.underline{
    width: 105px;
    height: 10px;
   background-color: aqua;
   
}
#apps{
    background-color: blue;
}
#games{
    background-color: green;
}
#Chatbot{
    background-color: pink;
}